<template>
  <div>
    <v-card class="mx-auto" elevation="6" hover>
      <v-carousel
        cycle
        :show-arrows="false"
        hide-delimiter-background
        delimiter-icon="fas fa-minus"
        height="250"
      >
        <v-carousel-item
          @click="showProperty"
          v-for="(image, i) in property.images"
          :key="i"
          :src="image.path"
        ></v-carousel-item>
      </v-carousel>

      <div @click="showProperty">
        <v-card-text>
          <div class="d-flex text-center">
            <div class="mx-auto">
              <v-icon left small>fas fa-bed</v-icon>
              {{ property.bedrooms }}
            </div>
            <div class="mx-auto">
              <v-icon left small>fas fa-shower</v-icon>
              {{ property.num_bathrooms }}
            </div>
            <div class="mx-auto">
              <v-icon left x-small>fas fa-cube</v-icon>
              {{ property.m2_construction }}
            </div>
          </div>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-title class="d-block">
          <p class="mb-0 grey--text text--darken-2 h5">
            {{ `Avenida ${property.street} #${property.age}` }}
          </p>
          <p>$ {{ property.price }} MDP</p>
        </v-card-title>

        <v-card-subtitle class="text-justify">
          <v-icon small class="red--text mr-2"> fas fa-circle </v-icon>
          {{ property.name }}
        </v-card-subtitle>
      </div>

      <v-card-actions>
        <v-btn color="primary" class="white--text ml-auto" text @click="editProperty">
          Editar
          <v-icon right dark> fas fa-edit </v-icon>
        </v-btn>
        <v-btn color="red" class="white--text ml-auto" text>
          Eliminar
          <v-icon right dark> fas fa-trash </v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "Card",
  props: {
    property: {
      type: Object,
      default: () => ({}),
    },
  },
  mounted() {
    Object.keys(this.property.images).forEach( key => {
      this.property.images[key].path = `${imageUrl}/${this.property.images[key].path}`
    });
  },
  computed: {
    imageFullPath(){
      return this.image.path
    }
  },
  methods: {
    showProperty(){
      this.$router.push(`/property/${this.property.id}/show`);
    },
    editProperty(){
      this.$router.push(`/property/${this.property.id}/edit`, 'edit');
    }
  },
};
</script>

<style>
</style>