<template>
  <div>
    <v-card elevation="6">
      <GmapMap
        :center="{ lat: 19.420687386038296, lng: -99.10369956484989 }"
        :zoom="8"
        :options="mapOptions"
        style="height: calc(100vh - 6rem)"
      />
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Map",
  props: {
    properties: {}
  },
  data() {
    return {
      mapOptions: {
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: true,
        disableDefaultUI: false,
      },
    };
  },
  mounted() {
    //TODO: Al montar el componente imprimir todos los marcadores
  },
};
</script>
<style lang="scss">
  .vue-map{
    border-radius: 4px;
  }
</style>