<template>
  <v-app>
    <v-app-bar app flat dense color="blue" dark>
      <div class="d-flex align-center">
        <!-- Cambiar por logo de la empresa -->
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="30"
        />
        <span class="mr-2">{{ $title }}</span>
      </div>

      <v-spacer></v-spacer>
      <!-- TODO: Crear toda la logica necesaria para el login -->
      <v-btn
        href="/"
        target="_blank"
        class="d-none d-sm-flex"
        text
      >
        <span class="mr-2">Iniciar Sesión</span>
      </v-btn>
    </v-app-bar>

    <v-main>
      <div class="pa-4">
        <router-view />
      </div>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  mounted() {
    this.$title = 'CATÁLOGO DE PROPIEDADES';
  }
};
</script>
