<template>
  <v-row>
      <!-- Formulario de la propiedad -->
      <v-col :cols="colSize">
        <v-card>
          <v-card-title primary-title>
            COMPLETE LA INFORMACIÓN PARA REGISTRAR LA PROPIEDAD
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col 
                class="py-0"
                :cols="$vuetify.breakpoint.mdAndDown ? 12 : 4"
              >
                <v-select
                  class="py-0"
                  v-model="form.property_type"
                  :items="property_types"
                  label="Tipo de propieda"
                  :disabled="disabled"
                  :loading="loading"
                  required
                  :error-messages="errors.property_type"
                ></v-select>
              </v-col>
              <v-col 
                class="py-0"
                :cols="$vuetify.breakpoint.mdAndDown ? 12 : 4"
              >
                <v-select
                  class="py-0"
                  v-model="form.operation"
                  :items="operations"
                  label="Operacion"
                  :disabled="disabled"
                  :loading="loading"
                  required
                  :error-messages="errors.operation"
                ></v-select>
              </v-col>
              <v-col 
                class="py-0"
                :cols="$vuetify.breakpoint.mdAndDown ? 12 : 4"
                v-for="(input, i) in formInputs"
                :key="i"
              >
                <v-text-field
                  class="py-0"
                  v-model="form[input.name]"
                  :label="input.label"
                  :disabled="disabled"
                  :loading="loading"
                  required
                  :error-messages="errors[input.name]"
                ></v-text-field>
              </v-col>
              <v-col>
                <v-file-input
                  ref="files"
                  dense
                  counter
                  multiple
                  show-size
                  :error-messages="errors['files.0'] || errors.files"
                  :disabled="disabled"
                  :loading="loading"
                ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-textarea
                  label="Descripción"
                  clearable
                  rows="2"
                  v-model="form.description"
                  :error-messages="errors.description"
                  :disabled="disabled"
                  :loading="loading"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-btn 
              block
              color="success mr-2 mb-2"
              :disabled="disabled"
              :loading="loading"
              @click="submit()"
            >
              GUARDAR <v-icon class="ml-2" small>fas fa-save</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <!-- TODO: Mapa para seleccionar la ubicacion de la propiedad -->
      <v-col :cols="colSize">
        <v-card>
          <div
            class="blue white--text pa-4"
            style="position: absolute; z-index: 1"
          >
            ARRASTRE EL PIN A LA UBICACIÓN DE LA PROPIEDAD
          </div>
          <GmapMap
            :center="{ lat: 19.420687386038296, lng: -99.10369956484989 }"
            :zoom="8"
            :options="mapOptions"
            style="height: calc(100vh - 6rem)"
          />
        </v-card>
      </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Form',
  data() {
    return {
      mapOptions: {
        zoomControl: false,
        mapTypeControl: false,
        scaleControl: false,
        streetViewControl: false,
        rotateControl: false,
        fullscreenControl: false,
        disableDefaultUI: false,
      },
      property_types: ['HOUSE', 'APARTAMENT', 'TERRAIN', 'OFFICE'],
      operations: ['SALE', 'RENT', 'TRANSFER'],
      errors: {},
      property: {},
      mode: 'create',
      disabled: false,
      loading: false,
      formInputs:[
        {name: 'public_key', label: 'Clave'},
        {name: 'name', label: 'Nombre'},
        {name: 'price', label: 'Precio'},
        {name: 'state', label: 'Estado'},
        {name: 'city', label: 'Ciudad'},
        {name: 'neighborhood', label: 'Colonia'},
        {name: 'cp', label: 'Código Postal'},
        {name: 'street', label: 'Calle'},
        {name: 'latitude', label: 'Latitud'},
        {name: 'longitude', label: 'Longitud'},
        {name: 'num_bathrooms', label: 'Número de baños'},
        {name: 'bedrooms', label: 'Número de cuartos'},
        {name: 'm2_construction', label: 'Metros cuadrados de construcción'},
        {name: 'parking', label: 'Número de estacionamientos'},
        {name: 'age', label: 'Años'},
        {name: 'departments', label: 'Número de departamentos'},
        {name: 'floor', label: 'Número de plantas'},
      ],
      form: {
        public_key: '',
        name: '',
        description: '',
        price: '',
        property_type: '',
        operation: '',
        state: '',
        city: '',
        neighborhood: '',
        cp: '',
        street: '',
        latitude: null,
        longitude: null,
        num_bathrooms: null,
        bedrooms: null,
        m2_construction: null,
        parking: null,
        age: null,
        departments: null,
        floor: null,
        user: 1, //TODO: Cambiar cuando se cree la logica del login
      }
    }
  },
  computed: {
    colSize(){
      return this.$vuetify.breakpoint.mdAndDown ? 12 : 6;
    }
  },
  async mounted() {
    const params = this.$route.params;
    //Modo edit
    if(params.hasOwnProperty('id')){
      this.mode = "edit";

      const response = await axios.get(`${apiUrl}/properties/${params.id}`);
      this.property = response.data;
      this.form = Object.assign({}, {
          public_key: this.property.public_key,
          name: this.property.name,
          description: this.property.description,
          price: this.property.price,
          property_type: this.property.property_type,
          operation: this.property.operation,
          state: this.property.state,
          city: this.property.city,
          neighborhood: this.property.neighborhood,
          cp: this.property.cp,
          street: this.property.street,
          latitude: this.property.latitude,
          longitude: this.property.longitude,
          num_bathrooms: this.property.num_bathrooms,
          bedrooms: this.property.bedrooms,
          m2_construction: this.property.m2_construction,
          parking: this.property.parking,
          age: this.property.age,
          departments: this.property.departments,
          floor: this.property.floor,
      });
    }

  },
  methods: {
    submit() {
      this.disabled = true;
      this.loading = true;
      this.errors = {};

      const successHandler = () => {
        this.$router.push('/');
      }

      const errorHandler = error => {
        this.disabled = false;
        this.loading = false;
        if(error.response && error.response.status === 422) {
          this.errors = error.response.data.errors;
        }
      } 

      // Creamos un nuevo form data
      let form_data = new FormData();
      // Añadimos todos los campos al form data
      Object.keys(this.form).forEach( key => {
        form_data.append(key, this.form[key] != null ? this.form[key] : '');
      });
      // Añadimos todos los archivos al form data
      const inputFiles = this.$refs.files.$refs.input.files;
      Object.keys(inputFiles).forEach( key => {
        form_data.append("files[]", inputFiles[key]);
      });
      
      if(this.mode == 'create') {
        axios.post(`${apiUrl}/properties`, form_data)
        .then(() => successHandler())
        .catch(error => errorHandler(error));
      }  
      
      if(this.mode == 'edit') {
        axios.put(`${apiUrl}/properties/${this.property.id}`, form_data)
        .then(() => successHandler())
        .catch(error => errorHandler(error));
      } 
    },
  },
}
</script>