<template>
  <div>
    <!-- Botón para agregar nuevas propiedades -->
    <v-btn id="plus-btn" class="ma-2" fab color="success" to="/property/add">
      <v-icon> fas fa-plus </v-icon>
    </v-btn>
    <v-row>
      <!-- Componente de mapa de propiedades -->
      <v-col :cols="this.$vuetify.breakpoint.mdAndDown ? 12 : 6">
        <Map :properties="properties" />
      </v-col>
      <!-- Componente card para cada propiedad -->
      <v-col id="column" :cols="this.$vuetify.breakpoint.mdAndDown ? 12 : 6">
        <div id="cards-container">
          <!-- TODO: Agregar cards de loading mientras el recurso es consumido -->
          <Card v-for="property in properties" :property=property :key="property.id"/>
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Map from "../components/Map"
import Card from "../components/Card"

export default {
  name: "Home",

  components: {
    Map,
    Card
  },
  data() {
    return {
      properties: "",
    };
  },
  mounted() {
    // Obtenemos todas las propiedades del back-end
    axios.get(`${apiUrl}/properties`)
      .then((res) => {
        this.properties = res.data;
      })
      .catch((err) => {
        //TODO: Mostrar mensaje de error y/o tomar acción
        console.error(err);
      });
  },
};
</script>
<style scoped lang="scss">
  #plus-btn{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  #column{
      height: calc(100vh - 6rem);
      overflow: auto;
      #cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
        grid-gap: 2rem;
      }
  }
</style>