<template>
    <div>
        <v-row>
            <v-col :cols="this.$vuetify.breakpoint.smAndDown ? 12 : 8">
                <v-card class="mx-auto" elevation="6">
                    <v-container id="carousel-container" class="white--text">
                        <!-- Información de la propiedad que se muestra sobre el carousel -->
                        <div>
                            <p class="text-button lh-small mb-0">
                                <v-icon small class="red--text mb-0 mr-2"> fas fa-circle </v-icon>
                                {{ property.name }}
                            </p>
                            <h1 class="lh-small">{{ propertyName }}</h1>
                            <p class="text-button text-uppercase font-weight-regular lh-small mb-0">
                                {{ propertyAddress }}
                            </p>
                            <h2 class="font-weight-medium green--text text--accent-3">${{ property.price }} MDP</h2>
                        </div>
                        <div class="px-12 mt-4">
                            <v-btn
                                class="carousel-arrow left"
                                elevation="0"
                                icon
                                dark
                                x-large
                                @click="(imgActive > 0) ? imgActive-- : ''"
                            >
                                <v-icon>
                                    fas fa-angle-left
                                </v-icon>
                            </v-btn>
                            <v-btn
                                class="carousel-arrow right"
                                elevation="0"
                                icon
                                dark
                                x-large
                                @click="(imgActive < (property.images.length - 1)) ? imgActive++ : ''"
                            >
                                <v-icon>
                                    fas fa-angle-right
                                </v-icon>
                            </v-btn>
                            <!-- Preview de imagenes que controlaran el ciclo del carousel -->
                            <v-row>
                                <v-col
                                    v-for="(image, i) in property.images"
                                    :key="image.id"
                                    class="d-flex child-flex"
                                    cols="3"
                                >
                                    <v-hover v-slot="{ hover }">
                                        <v-card 
                                            :elevation="(hover || i == imgActive) ? 12 : 2" 
                                            @click="imgActive = i"
                                        >
                                            <v-img
                                                :class="{'on-hover' : (hover || i == imgActive)}"
                                                :src="image.path"
                                                aspect-ratio="2"
                                                class="grey lighten-2"
                                                height="7rem"
                                            >
                                            </v-img>
                                        </v-card>
                                    </v-hover>
                                </v-col>
                            </v-row>
                        </div>
                    </v-container>
                    <!-- Galeria de imagenes -->
                    <v-carousel
                        v-model="imgActive"
                        :show-arrows="false"
                        hide-delimiters
                        delimiter-icon="fas fa-minus"
                        height="height: calc(100vh - 6rem)"
                    >
                        <v-carousel-item
                            v-for="(image, i) in property.images"
                            :key="i"
                            :src="image.path"
                        ></v-carousel-item>
                    </v-carousel>
                </v-card>
            </v-col>
            <!-- Card con información detallada de la propiedad -->
            <v-col id="column" :cols="this.$vuetify.breakpoint.smAndDown ? 12 : 4">
                <v-card class="mx-auto" elevation="6">
                    <GmapMap
                        :center="{ lat: 19.420687386038296, lng: -99.10369956484989 }"
                        :zoom="8"
                        :options="mapOptions"
                        style="height: 13rem"
                    />
                    <v-card-text>
                        <div class="pink--text">{{property.name}}</div>
                        <p class="text-h5 text--primary mb-2">{{ propertyName }}<br/>{{ propertyAddress }}</p>
                        <v-divider class="mb-2"></v-divider>
                        <p class="text-h5 primary--text mb-2">$ {{ property.price }} MDP</p>
                        <div class="grey--text text--darken-2 text-justify">{{ property.description }}</div>
                        <div class="pink--text mt-2">Amenidades de la propiedad</div>
                        <v-chip
                            v-for="amenity in property.amenities"
                            :key="amenity.id"
                            class="ma-2"
                            color="primary"
                            outlined
                        >
                            <!-- TODO: Agregar una columna en la BD para guardar el icono de cada amenidad -->
                            <v-icon small class="mr-2">
                                fas fa-couch
                            </v-icon>
                            {{ amenity.name }}
                        </v-chip>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </div>
</template>

<script>
export default {
    name: "Show",
    data() {
        return {
            imgActive: 0,
            property: {
                type: Object,
                default: () => ({}),
            },
            mapOptions: {
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: true,
                disableDefaultUI: false,
            },
        }
    },
    computed: {
        propertyName(){
            return `${this.property.street} # ${this.property.age }, C.P. ${ this.property.cp}`
        },
        propertyAddress(){
            return `${this.property.neighborhood}, ${this.property.city}, ${this.property.state}`
        }
    },
    mounted() {
        // Obtenemos la información completa de la propiedad
        axios.get(`${apiUrl}/properties/${this.$route.params.id}`)
        .then((res) => {
            this.property = res.data
            this.$title = `DETALLES DE LA PROPIEDAD ${this.property.public_key}`
        })
        .catch((err) => {
            //TODO: Mostrar mensaje de error y/o tomar acción
            console.error(err);
        });
    },
}
</script>

<style scoped lang="scss">
  #column{
    height: calc(100vh - 3.5rem);
    overflow: auto;
  }
  #carousel-container{
    position: absolute;
    padding-left: 2rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.325);
    bottom: 0;
    .lh-small{
        line-height: 30px;
    }
    .v-image {
        cursor: pointer;
        transition: opacity .4s ease-in-out;
        &:not(.on-hover) {
            opacity: 0.7;
        }
    }
    .carousel-arrow{
        position: absolute;
        &.left{
            left: 0;
            margin-top: 2.5rem;
            margin-left: 1rem;
        }
        &.right{
            right: 0;
            margin-top: 2.5rem;
            margin-right: 1rem;
        }
    }
  }
</style>